

.bg-work {
    background-color: $light-red;
}
.bg-play {
    background-color: $soft-blue;
}
.bg-study {
    background-color: $light-red-2;
}
.bg-exercise {
    background-color: $lime-green;
}
.bg-social {
    background-color: $violet;
}
.bg-self-care {
    background-color: $soft-orange;
}

.font-18{
    font-size: 18px;
}